<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fs.human.yk2hyeong.product.dao.ProductNoticeDAO">

    <!-- 공지사항 등록 -->
    <insert id="insertProductNotice" parameterType="fs.human.yk2hyeong.product.vo.ProductNoticeVO">
        INSERT INTO TB_PRODUCT_NOTICE (
            PRODUCT_NOTICE_ID, PRODUCT_ID, TITLE, PRODUCT_NOTICE_CONTENT, MEMBER_ID, PRODUCT_NOTICE_TYPE,
            CREATED_ID, CREATED_DATE, UPDATED_ID, UPDATED_DATE
        ) VALUES (
            #{productNoticeId}, #{productId}, #{title}, #{productNoticeContent}, #{memberId}, #{productNoticeType},
            #{memberId}, SYSDATE, #{memberId}, SYSDATE
        )
    </insert>

    <!-- 공지사항 수정 -->
    <update id="updateProductNotice" parameterType="fs.human.yk2hyeong.product.vo.ProductNoticeVO">
        UPDATE TB_PRODUCT_NOTICE
        SET TITLE = #{title},
            PRODUCT_NOTICE_CONTENT = #{productNoticeContent},
            PRODUCT_NOTICE_TYPE = #{productNoticeType},
            UPDATED_ID = #{memberId},
            UPDATED_DATE = SYSDATE
        WHERE PRODUCT_NOTICE_ID = #{productNoticeId}
          AND MEMBER_ID = #{memberId}
    </update>

    <!-- 공지사항 삭제 -->
    <delete id="deleteProductNotice">
        DELETE FROM TB_PRODUCT_NOTICE
        WHERE PRODUCT_NOTICE_ID = #{productNoticeId}
          AND MEMBER_ID = #{memberId}
    </delete>

    <!-- 상품별 공지사항 조회 -->
    <select id="selectProductNotices" resultType="fs.human.yk2hyeong.product.vo.ProductNoticeVO">
        SELECT PRODUCT_NOTICE_ID, PRODUCT_ID, TITLE, PRODUCT_NOTICE_CONTENT, MEMBER_ID, PRODUCT_NOTICE_TYPE,
               CREATED_ID, TO_CHAR(CREATED_DATE, 'YYYY-MM-DD') AS createdDate,
               UPDATED_ID, TO_CHAR(UPDATED_DATE, 'YYYY-MM-DD') AS updatedDate
        FROM TB_PRODUCT_NOTICE
        WHERE PRODUCT_ID = #{productId}
        ORDER BY CREATED_DATE DESC
    </select>
</mapper>
