.notice-detail-container {
    max-width: 1000px;
    margin: 40px auto;
    font-family: 'Arial', sans-serif;
}

.notice-detail-title {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 24px;
    line-height: 1.6;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6;
    color: #333;
    white-space: pre-wrap;
    margin-bottom: 20px;
    padding-left: 6px;
    text-indent: 20px;
}

.notice-detail-box {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 24px;
    line-height: 1.6;
    color: #333;
    white-space: pre-wrap;
    min-height: 300px;
}

.notice-detail-actions {
    text-align: right;
    margin-top: 20px;
    gap: 16px;
    display: flex;
    justify-content: flex-end;
    
}
