.ant-tabs-tab {
  font-size: 20px !important;
  padding: 20px 30px !important;
}

.ant-tabs-tab-btn {
  font-weight: bold !important;
}

.ant-tabs ant-tabs-top ant-tabs-card css-pjilya {
  margin-top: 40px !important;
}

.btn.btn-primary.btn-sm {
  background-color: #e5402d !important;
  border-color: #e5402d !important;
  color: white !important;
  margin-top: 4px !important;
}
