<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fs.human.yk2hyeong.index.dao.IndexDAO">

    <!-- 메인화면 공지사항 표출용 -->
    <select id="getRecentNotice" parameterType="int" resultType="fs.human.yk2hyeong.notice.vo.NoticeVO">
        SELECT notice_id as noticeId,
               notice_title as noticeTitle,
               created_date as createdDate
        FROM tb_notice
            ORDER BY created_date desc
            FETCH FIRST 3 ROWS ONLY
    </select>

    <!-- 메인화면 일일 최다판매품목 -->
    <select id="bestSell" resultType="fs.human.yk2hyeong.index.vo.IndexVO">
        SELECT
            COUNT(A.PRODUCT_ID) AS "POPULAR",
            B.PRODUCT_NAME
        FROM TB_PRODUCT_BUY A
                 LEFT JOIN TB_PRODUCT B
                           ON A.PRODUCT_ID = B.PRODUCT_ID
        WHERE
            TRUNC(A.CREATED_DATE) = TRUNC(SYSDATE)
        GROUP BY
            A.PRODUCT_ID,
            B.PRODUCT_NAME
        ORDER BY "POPULAR" DESC
            FETCH FIRST 4 ROWS ONLY
    </select>

</mapper>