<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fs.human.yk2hyeong.member.dao.MemberDAO">

    <!-- 이메일 중복 체크 -->
    <select id="isEmailExist" resultType="int">
        SELECT COUNT(*)
        FROM TB_MEMBER
        WHERE MEMBER_EMAIL = #{memberEmail}
    </select>

    <!-- 회원 등록 -->
    <insert id="insertMember">

        <selectKey keyProperty="memberId" order="BEFORE" resultType="string">
            SELECT SYS_GUID() FROM DUAL
        </selectKey>

        INSERT INTO TB_MEMBER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            MEMBER_ID,
            MEMBER_EMAIL,
            MEMBER_PWD,
            MEMBER_NAME,
            MEMBER_BNAME,
            MEMBER_BNUM,
            MEMBER_TEL,
            MEMBER_ADDR,
            MEMBER_DETAIL_ADDR,
            MEMBER_BANK_CODE,
            MEMBER_ACCOUNTNUM,
            MEMBER_ROLE,
            MEMBER_STATUS,
            CREATED_ID,
            CREATED_DATE,
            UPDATED_ID,
            UPDATED_DATE
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            sys_guid(),
            #{memberEmail},
            #{memberPwd},
            #{memberName},
            #{memberBname},
            #{memberBnum},
            #{memberTel},
            #{memberAddr},
            #{memberDetailAddr},
            #{memberBankCode},
            #{memberAccountNum},
            #{memberRole},
            #{memberStatus},
            #{createdId},
            SYSDATE,
            #{updatedId},
            SYSDATE
        </trim>
    </insert>

    <!-- 아이디 찾기 -->
    <select id="findEmail" resultType="String">
        SELECT
            MEMBER_EMAIL
        FROM
            TB_MEMBER
        WHERE MEMBER_NAME = #{memberName}
              AND MEMBER_TEL = #{memberTel}
    </select>

    <!-- 비밀번호 재설정 쿼리 -->
    <update id="updatePassword" parameterType="map">
        UPDATE TB_MEMBER
            SET MEMBER_PWD = #{newPassword}
        WHERE MEMBER_EMAIL = #{email}
    </update>

</mapper>
