<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fs.human.yk2hyeong.member.dao.MemberDAO">

    <!-- 이메일 중복 체크 -->
    <select id="isEmailExist" resultType="int">
        SELECT COUNT(*)
        FROM TB_MEMBER
        WHERE MEMBER_EMAIL = #{memberEmail}
    </select>

    <!-- 회원 등록 -->
    <insert id="insertMember">
        INSERT INTO TB_MEMBER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            MEMBER_ID,
            MEMBER_EMAIL,
            MEMBER_PWD,
            MEMBER_NAME,
            MEMBER_BNAME,
            MEMBER_BNUM,
            <if test="memberShipperName != null and memberShipperName != ''">
                MEMBER_SHIPPER_NAME,
            </if>
            MEMBER_TEL,
            MEMBER_ADDR,
            MEMBER_DETAIL_ADDR,
            MEMBER_BANK_CODE,
            MEMBER_ACCOUNTNUM,
            MEMBER_ROLE,
            MEMBER_STATUS,
            CREATED_ID,
            CREATED_DATE,
            UPDATED_ID,
            UPDATED_DATE
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            sys_guid(),
            #{memberEmail},
            #{memberPwd},
            #{memberName},
            #{memberBname},
            #{memberBnum},
            <if test="memberShipperName != null and memberShipperName != ''">
                #{memberShipperName},
            </if>
            #{memberTel},
            #{memberAddr},
            #{memberDetailAddr},
            #{memberBankCode},
            #{memberAccountNum},
            #{memberRole},
            #{memberStatus},
            #{createdId},
            SYSDATE,
            #{updatedId},
            SYSDATE
        </trim>
    </insert>

</mapper>
