<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fs.human.yk2hyeong.notice.dao.NoticeDAO">


    <!-- 전체 공지사항 목록 조회 -->
    <select id="getAllNotices" resultType="fs.human.yk2hyeong.notice.vo.NoticeVO">
        <![CDATA[
        SELECT
            NOTICE_ID       AS noticeId,
            ROW_NUMBER() OVER(ORDER BY CREATED_DATE DESC) AS BNO,
            NOTICE_TITLE    AS noticeTitle,
            NOTICE_CONTENT  AS noticeContent,
            WRITER_ID       AS writerId,
            CREATED_ID      AS createdId,
            CREATED_DATE    AS createdDate,
            UPDATED_ID      AS updatedId,
            UPDATED_DATE    AS updatedDate
        FROM TB_NOTICE
        ORDER BY CREATED_DATE DESC
        ]]>
    </select>

    <!-- 공지사항 단건 조회 -->
    <select id="getNoticeById" parameterType="string" resultType="fs.human.yk2hyeong.notice.vo.NoticeVO">
        SELECT
            NOTICE_ID       AS noticeId,
            NOTICE_TITLE    AS noticeTitle,
            NOTICE_CONTENT  AS noticeContent,
            WRITER_ID       AS writerId,
            CREATED_ID      AS createdId,
            CREATED_DATE    AS createdDate,
            UPDATED_ID      AS updatedId,
            UPDATED_DATE    AS updatedDate
        FROM TB_NOTICE
        WHERE NOTICE_ID = #{noticeId}
    </select>

    <!-- 공지사항 등록 -->
    <insert id="insertNotice" parameterType="fs.human.yk2hyeong.notice.vo.NoticeVO">

        INSERT INTO TB_NOTICE (
            NOTICE_ID,
            NOTICE_TITLE,
            NOTICE_CONTENT,
            WRITER_ID,
            CREATED_ID,
            CREATED_DATE
            ) VALUES (
            #{noticeId},
            #{noticeTitle},
            #{noticeContent},
            #{writerId},
            #{createdId},
            SYSDATE
            )
    </insert>

    <!-- 공지사항 수정 -->
    <update id="updateNotice" parameterType="fs.human.yk2hyeong.notice.vo.NoticeVO">
        UPDATE TB_NOTICE
        SET
            NOTICE_TITLE = #{noticeTitle},
            NOTICE_CONTENT = #{noticeContent},
            UPDATED_ID = #{updatedId},
            UPDATED_DATE = SYSDATE
        WHERE
            NOTICE_ID = #{noticeId}
    </update>

    <!-- 공지사항 삭제 -->
    <delete id="deleteNotice" parameterType="string">
        DELETE FROM TB_NOTICE
        WHERE
            NOTICE_ID = #{noticeId}
    </delete>

</mapper>
