<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="fs.human.yk2hyeong.chart.dao.chartDAO">

    <!-- 주간 데이터 조회  -->
    <select id="getUnitPriceWeek" resultType="fs.human.yk2hyeong.chart.vo.ChartVO">
        SELECT
            B.LOW_CODE_NAME,
            AVG(A.RECORDED_UNIT_PRICE) AS RECORDED_UNIT_PRICE,
            A.RECORDED_DATE
        FROM
            TB_PRICE_API_HISTORY A
                LEFT JOIN TB_CODE_DETAIL B
                          ON A.DETAIL_CODE_ID = B.LOW_CODE_VALUE
        WHERE A.DETAIL_CODE_ID = #{detailCodeId}
          AND A.RECORDED_DATE >= TO_DATE(SYSDATE - 7)
        GROUP BY
            B.MID_CODE_NAME,
            B.LOW_CODE_NAME,
            A.RECORDED_DATE
        ORDER BY
            A.RECORDED_DATE
    </select>

    <!-- 주간 예측 데이터 조회  -->
    <select id="getUnitPriceWeekPredictor" resultType="fs.human.yk2hyeong.chart.vo.ChartVO">
        SELECT
            B.LOW_CODE_NAME,
            AVG(A.PREDICTED_UNIT_PRICE) AS PREDICTED_UNIT_PRICE,
            A.PREDICT_DATE
        FROM
            TB_PRICE_PREDICTION A
                LEFT JOIN TB_CODE_DETAIL B
                    ON A.DETAIL_CODE_ID = B.LOW_CODE_VALUE
        WHERE
            A.DETAIL_CODE_ID = #{detailCodeId}
          <![CDATA[
            AND A.PREDICT_DATE >= TRUNC(SYSDATE) - 7
            AND A.PREDICT_DATE < TRUNC(SYSDATE) + 1
            ]]>
        GROUP BY
            B.LOW_CODE_NAME,
            A.PREDICT_DATE
        ORDER BY
            A.PREDICT_DATE
    </select>

    <!-- 월간 데이터 조회  -->
    <select id="getUnitPriceMonth" resultType="fs.human.yk2hyeong.chart.vo.ChartVO">
        SELECT
            B.LOW_CODE_NAME,
            AVG(A.RECORDED_UNIT_PRICE) AS RECORDED_UNIT_PRICE,
            TO_DATE(TO_CHAR(A.RECORDED_DATE, 'YYYY/MM'), 'YYYY/MM') AS RECORDED_DATE

        FROM
            TB_PRICE_API_HISTORY A
                LEFT JOIN TB_CODE_DETAIL B
                          ON A.DETAIL_CODE_ID = B.LOW_CODE_VALUE
        WHERE A.DETAIL_CODE_ID = #{detailCodeId}
          AND A.RECORDED_DATE >= (SELECT ADD_MONTHS(SYSDATE, -5) FROM DUAL)
        GROUP BY
            B.MID_CODE_NAME,
            B.LOW_CODE_NAME,
            TO_CHAR(A.RECORDED_DATE, 'YYYY/MM')
        ORDER BY
            TO_CHAR(A.RECORDED_DATE, 'YYYY/MM')
    </select>

    <!-- 월간 예측 데이터 조회  -->
    <select id="getUnitPriceMonthPredictor" resultType="fs.human.yk2hyeong.chart.vo.ChartVO">
        SELECT
            B.LOW_CODE_NAME,
            AVG(A.PREDICTED_UNIT_PRICE) AS PREDICTED_UNIT_PRICE,
            TO_DATE(TO_CHAR(A.PREDICT_DATE, 'YYYY/MM'), 'YYYY/MM') AS PREDICT_DATE
        FROM
            TB_PRICE_PREDICTION A
                LEFT JOIN TB_CODE_DETAIL B
                    ON A.DETAIL_CODE_ID = B.LOW_CODE_VALUE
        WHERE
            <![CDATA[
            A.DETAIL_CODE_ID = #{detailCodeId}
            AND A.PREDICT_DATE <= ADD_MONTHS(TRUNC(SYSDATE, 'MM'), 6)
        ]]>
        GROUP BY
            B.LOW_CODE_NAME,
            TO_CHAR(A.PREDICT_DATE, 'YYYY/MM')
        ORDER BY
            TO_CHAR(A.PREDICT_DATE, 'YYYY/MM')
    </select>

    <!-- 년간 데이터 조회  -->
    <select id="getUnitPriceYear" resultType="fs.human.yk2hyeong.chart.vo.ChartVO">
        SELECT
            B.LOW_CODE_NAME,
            AVG(A.RECORDED_UNIT_PRICE) AS RECORDED_UNIT_PRICE,
            TO_DATE(TO_CHAR(A.RECORDED_DATE, 'YYYY'), 'YYYY') AS RECORDED_DATE
        FROM
            TB_PRICE_API_HISTORY A
                LEFT JOIN TB_CODE_DETAIL B
                          ON A.DETAIL_CODE_ID = B.LOW_CODE_VALUE
        WHERE A.DETAIL_CODE_ID = #{detailCodeId}
          AND A.RECORDED_DATE >= (SELECT ADD_MONTHS(SYSDATE, -60) FROM DUAL)
        GROUP BY
            B.MID_CODE_NAME,
            B.LOW_CODE_NAME,
            TO_CHAR(A.RECORDED_DATE, 'YYYY')
        ORDER BY
            TO_CHAR(A.RECORDED_DATE, 'YYYY')
    </select>

    <!-- 시세 등략율 데이터 조회  -->
    <select id="getUnitPriceYearPredictor" resultType="fs.human.yk2hyeong.chart.vo.ChartVO">
        SELECT
            C.LOW_CODE_NAME,
            AVG(A.RECORDED_UNIT_PRICE) AS YESTERDAY_PRICE,
            AVG(B.RECORDED_UNIT_PRICE) AS TODAY_PRICE
        FROM
            TB_PRICE_API_HISTORY A
        LEFT JOIN
            TB_PRICE_API_HISTORY B
            ON A.DETAIL_CODE_ID = B.DETAIL_CODE_ID
        LEFT JOIN TB_CODE_DETAIL C
            ON A.DETAIL_CODE_ID = C.LOW_CODE_VALUE
        WHERE
            A.RECORDED_DATE = TRUNC(SYSDATE - 1)
            AND B.RECORDED_DATE = TRUNC(SYSDATE)
            <![CDATA[
                AND A.RECORDED_UNIT_PRICE <> 0
                AND B.RECORDED_UNIT_PRICE <> 0
                AND C.mid_code_value <> ' '
            ]]>
        GROUP BY
            C.LOW_CODE_NAME
    </select>

</mapper>
